x-database-information: &db-env
  POSTGRES_URL: postgresql://glorp:example_password@db:5432

services:

  server:
    build:
      context: .
      target: final
    ports:
      - "8080:8080"
    networks:
      - proxy-nw
      - database-nw
      - tracing-nw

    restart: unless-stopped

    depends_on:
      - db

    environment:
      <<: [*db-env]

  db:
    image: postgres:latest

    restart: unless-stopped

    ports:
      - 5432:5432

    environment:
      POSTGRES_USER: glorp
      POSTGRES_PASSWORD: example_password

    networks:
      - database-nw

  proxy:
    image: caddy:alpine
    restart: unless-stopped

    volumes:
      - $PWD/caddy/conf:/etc/caddy
      - caddy_data:/data
      - caddy_config:/config

    ports:
      - "80:80"
      - "433:433"
      - "433:433/udp"

    networks:
      - proxy-nw

networks:
  database-nw:
    driver: bridge

  tracing-nw:
    driver: bridge

  proxy-nw:
    driver: bridge

volumes:
  caddy_data: {}
  caddy_config: {}
